* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
:root {
    --color: #ffff;
    font-size: 16px;
}
body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-size: cover;
    color: var(--color);
    transition: background-image 1s ease-in-out;
    padding: 1rem;
}
@media (max-height: 600px) {
    body {
       height: auto;     
    }
}
h1 {
    margin-bottom: 3rem;
}
@media (max-width: 500px) {
    h1 {
        font-size: 1.7rem;
        margin-bottom: 1.5rem;        
        margin-top: .9rem;        
    }
}
h2 {
    margin-bottom: 0.5rem;
    opacity: 0.9;
}
@media (max-width: 500px) {
    h2 {
        font-size: 1.2rem;       
    }
}
.time {
    font-size: 8rem;
}
@media (max-width: 700px) {
    .time {
        font-size: 6rem;
    }
}
@media (max-width: 500px) {
    .time {
        font-size: 4.5rem;
    }
}
.date {
    font-size: 1.5rem;
}
/* Change BG button */
.next__wrapper {
    position: absolute; 
    top: 50%;
    right: 5%;
}
@media (max-width: 540px) {
    .next__wrapper {
       position: relative;
       top: 0.5rem;
       right: 0;
    }
}
.next {
    position: relative;
    height: 3.5rem;
    width: 2rem;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s ease;
}
@media (max-width: 540px) {
    .next {
       height: 2rem;
    }
}
.next::before, .next::after {
    position: absolute;
    height: 2rem;
    width: 0.2rem;
    background-color: var(--color);
    content: "";
}
.next::before {
    top: 1.3rem;
    transform: rotate(45deg);
}
.next::after {
    top: 0rem;
    transform: rotate(-45deg);
}
@media (max-width: 540px) {
    .next::before, .next::after {
       height: 1.5rem;
    }
    .next::before {
        top: 0.95rem;
    }
}
.next:hover {
    transform: scale(1.2);
}
.next:focus {
    outline: none;
}
/* Quote */
.quote__wrapper {
    position: relative;
    top: 5.5rem;
    padding: 1rem 2rem;
    max-width: 90%;
    border-radius: .6rem;
    background-color: rgba(173, 173, 173, .4);
}
@media (max-width: 660px) {
    .quote__wrapper {
        top: 2rem;
    }
 }
.quote {
    font-size: 1.1rem;
    padding-bottom: 0.8rem;
}
.quote__floor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}
.quote__btn {
    background: rgba(160, 160, 160, 0.7);
    padding: 0.2rem 0.5rem;
    border-radius: 5px 5px;
    cursor: pointer;
}
.quote__author {
    font-size: 0.9rem;
    font-style: italic;
}
/* Weather */
.weather__wrapper {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .5rem 1rem;
    border-radius: .6rem;
    text-align: left;
    background-color: rgba(173, 173, 173, .4);
}
@media (max-width: 660px) {
   .weather__wrapper {
       position: relative;
       top: 0;
       left: 0;
       margin-bottom: 1.5rem;
   }
}
.city {
    font-size: 1.2rem;
    padding-bottom: .1rem;
}
.weather-icon {
    font-size: 1.2rem;
    vertical-align: text-bottom;
}
.temperature {
    font-size: 1.2rem;
}
.wind {
    margin-top: .5rem;
    font-style: italic;
}
.humidity {
    font-style: italic;
}
.weather__error {
    margin-top: .3rem;
    font-style: italic;
}
.none {
    display: none;
}