* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
:root {
    --color: #000000;
    font-size: 16px;
}
body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-size: cover;
    color: var(--color);
    transition: background-image 1s ease-in-out;
}
h1 {
    margin-bottom: 3rem;
}
h2 {
    margin-bottom: 0.5rem;
    opacity: 0.8;
}
.time {
    font-size: 8rem;
}
@media (max-width: 700px) {
    .time {
        font-size: 6rem;
    }
}
.date {
    font-size: 1.5rem;
}
/* Change BG button */
.next__wrapper {
    position: absolute; 
    top: 50%;
    right: 5%;
}
.next {
    position: relative;
    height: 3.5rem;
    width: 2rem;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s ease;
}
.next::before, .next::after {
    position: absolute;
    height: 2rem;
    width: 0.2rem;
    background-color: var(--color);
    content: "";
  }
  .next::before {
    top: 1.3rem;
    transform: rotate(45deg);
  }
  .next::after {
    top: 0rem;
    transform: rotate(-45deg);
  }
  .next:hover {
      transform: scale(1.2);
  }
  .next:focus {
      outline: none;
  }

/* ---------------- */

.quote__wrapper {
    position: absolute;
    bottom: 2%;
    padding: 1rem 2rem;
    border-radius: .6rem;
    background-color: rgba(173, 173, 173, .4);
}
.quote {
    font-size: 1.1rem;
    padding-bottom: 0.8rem;
}
.quote__floor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}
.quote__btn {
    background: rgba(160, 160, 160, 0.7);
    padding: 0.2rem 0.5rem;
    border-radius: 5px 5px;
}
.quote__author {
    font-size: 0.9rem;
    font-style: italic;
}